<div class="row">
  <div class="col-md-6">
    <div class="circle-progress">
      <p><strong>Text for circle reporting goes here</strong></p>
      <div class="row">
        <div class="col-md-6">
          <div class="c100 p25">
            <span>25%</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
          <div class="progress-info">
            <strong>1,54412</strong><br>
            <em>Total</em>

            <strong>1,52412</strong><br>
            <em>Current</em>
          </div>
        </div>

        <div class="col-md-6">
          <div class="c100 p25 green">
            <span>25%</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
          <div class="progress-info">
            <strong>1,54412</strong><br>
            <em>Total</em>

            <strong>1,52412</strong><br>
            <em>Current</em>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row calculation-boxes">
      <div class="col-md-6">
        <div class="box blue-box">
          <h4>Total Responds</h4>
          <strong>4,45,64,654</strong>
          <em>Increase 23%</em>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box white-box">
          <h4>Respondents (Men)</h4>
          <strong>4,45,64,654</strong>
          <em>Increase 23%</em>
        </div>
      </div>
    </div>

    <div class="row calculation-boxes">
      <div class="col-md-6">
        <div class="box white-box">
          <h4>Respondents (Women)</h4>
          <strong>4,45,64,654</strong>
          <em>Increase 23%</em>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box brown-box">
          <h4>Respondents Age</h4>
          <strong>22 Years Old</strong>
          <em>Increase 23%</em>
        </div>
      </div>
    </div>

  </div>
</div>