<%= render "section_nav" %>

<div class="reporting-area">

  <div class="reporting-elements">

    <%= render "progress_bar_circle" %>

    <div class="reporting-graph">
      <div id="echart_line" style="height:350px;"></div>
    </div>

  </div>
</div>

<%= render "graph_script" %>