<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <h3>Some Logo</h3>
      </div>
      <div class="col-md-8">
        <div class="tagline">
          <p><strong>Some Tagline goes here</strong></p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="user-info pull-right">
          <div class="welcome-note">
            <span><strong>Welcome, Shahzaib</strong></span><br>
            <p>Welcome to this thme</p>
          </div>
          <span class="avatar"></span> <!--You can use this class on image-->
        </div>
      </div>
    </div>
  </div>
</header>