<div class="sidebar">
  <div class="sidebar-links">
    <span class="links-heading">Main</span>
    <ul>
      <li>
        <%= link_to  "#" do %>
            <i class="fa fa-bar-chart" aria-hidden="true"></i>Indicator list
        <% end %>
      </li>
      <li>
        <%= link_to  "#" do %>
            <i class="fa fa-pie-chart" aria-hidden="true"></i>Report
        <% end %>
      </li>
    </ul>


    <span class="links-heading">Account</span>
    <ul>
      <li>
        <%= link_to  "#" do %>
            <i class="fa fa-user-o" aria-hidden="true"></i>Account
        <% end %>
      </li>
      <li>
        <%= link_to  "#" do %>
            <i class="fa fa-sign-out" aria-hidden="true"></i>Logout
        <% end %>
      </li>
    </ul>
  </div>
</div>