/* SECTION STYLES ================*/
.section-nav-area {
  background: #F6F8F8;
  padding: 20px;
}
nav {
  ul li {
    display: inline-block;
    text-transform: uppercase;
    padding-right: 40px;
    margin-top: 30px;
  }
}
.reporting-area {
  background: #ECEFF4;
  min-height: 300px;
  padding: 20px;
}


.reporting-elements {
  .circle-progress {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    .progress-info {
      margin-top: 10px;
      em {
        display: inline-block;
        margin-bottom: 10px;
      }
    }
  }
}
.calculation-boxes {
  margin-bottom: 20px;
  .box {
    border-radius: 5px;
    padding: 16px 20px;
    min-height: 90px;
    h4 {
      font-size: 16px;
      margin: 0 0 5px 0;
    }
    em {
      font-size: 12px;
      display: block;
    }
  }
  .white-box {
    background: #fff;
  }
  .blue-box {
    background: #70C8BE;
    color: #fff;
  }
  .brown-box {
    background:  #CDC884;
    color: #fff;
  }
}

.reporting-graph {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
}







