/* SIDE BAR STYLES ================*/
.sidebar {
  background: #fff;
  height: 100%;
  padding: 20px 0px;
}
.sidebar-links {
  .links-heading {
    display: inline-block;
    font-size: 12px;
    color: #B6B7B8;
    margin-bottom: 20px;
  }
  ul {
    margin-bottom: 30px;
    li {
      margin-bottom: 5px;
      a i {
        margin-right: 5px;
      }
    }
  }
}